{% extends "partials/base.html" %}

{% block title %}
Community
{% endblock title %}


{% block body %}
<div>
    <h2>Barka Library Community</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione et deleniti, facilis, pariatur incidunt ipsa voluptatibus amet consequuntur atque eos id ab neque nihil nam nostrum, suscipit illum iste soluta?</p>
</div>
<div>
    <section class="community-events">
    <h2>Upcoming Community Events</h2>
    <ul>
        <li>
        <strong>Tech Meetup</strong> - September 10, 2025
        </li>
        <li>
        <strong>Local Farmers' Market</strong> - September 15, 2025
        </li>
        <li>
        <strong>Charity Fun Run</strong> - September 22, 2025
        </li>
        <li>
        <strong>Book Club Gathering</strong> - September 28, 2025
        </li>
    </ul>
    </section>
</div>
{% endblock body %}