{% extends "partials/base.html" %}

{% block title %}
Confirm Note Deletion
{% endblock title %}

{% block body %}
<div>
    <p>Are you sure you want to delete this note?</p>
        <div>
            <h2>{{ note.title }}</h2>
            <p>{{ note.content }}</p>
            <p>{{ note.get_category_display }}</p>
            <p>{{ note.created_at }}</p>
        </div>
</div>

<div>
    <form action="{% url 'notes:delete_note' note.id %}" method="POST">
        {% csrf_token %}
        <button type="submit">Yes, I am sure</button>
    </form>
    <a href="{% url 'notes:note_detail' note.pk %}">No, take me back</a>
</div>
{% endblock body %}
