<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ note.title }}</title>
</head>
<body>
    <div>
        <h2>{{ note.title }}</h2>
        <p>{{ note.content }}</p>
        <p>{{ note.get_category_display }}</p>
        <p>{{ note.created_at }}</p>
    </div>
    <div>
        <a href="{% url 'notes:update_note' note.id %}">Edit Note</a>
        <a href="{% url 'notes:confirm_delete' note.id %}">Delete Note</a>
    </div>
</body>
</html>