{% extends "partials/base.html" %}
{% load static %}



{% block title %}
<title>Services</title>
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/services.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="services-section">
    <h1 class="page-title">Services</h1>
    <ul class="services-list">
        {% for service in services %}
            <li class="service-item">{{ service }}</li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}
