{% extends "partials/base.html" %}
{% load static %}

{% block title %}
<title>Testimonials</title>
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/testimonials.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="testimonials-section">
    <h1 class="page-title">Testimonials</h1>
    <ul class="testimonials-list">
        {% for customer, testimonial in testimonials.items %}
            <li class="testimonial-item">
                <strong class="customer">{{ customer }}</strong>
                <p class="testimonial-text">{{ testimonial }}</p>
            </li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}
